/** box-shadow*/
$block-box-shadow: 5px 10px 5px #eeeeee;
$button-box-shadow: 5px 5px 5px #eeeeee;

/** color */
$default-background: #ffffff;
$button-color: #ffffff;
$color-red: #d93025;
$main-color: #1a4832;
$sub-color: #b6ca3f;

/** height*/
$header-height:50px;

