.u-margin-center{
    margin: 0 auto;
}

// all
.u-margin-10{
    margin: 10px 5%;
}

// top
.u-margin-top-10{
    margin-top: 10px;
}

.u-margin-top-20{
    margin-top: 20px;
}

.u-margin-top-30{
    margin-top: 30px;
}
// bottom
.u-margin-bottom-10{
    margin-bottom: 10px;
}

.u-margin-bottom-20{
    margin-bottom: 20px;
}

// right
.u-margin-right-5{
    margin-right: 5px;
}

// left
.u-margin-left-5{
    margin-left: 5px;
}
